# Ignore all Terraform files
*.tf
.terraform/
**/.terraform/
**/terraform*
**/.terraform*



# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore backup files created by Terraform
*.tfplan

# Ignore any Terraform variables files
*.tfvars
